/* Colors variables--------------------------------------------------------------------------*/
:root {
  --background-burgandy: #901c1c;
  --background-salmon: #db8876;
  --bacground-almostWhite: #fafafa;

  --text-burgandy: #901c1c;
  --text-salmon: #d3573c;
  --text-grey: #525252;
}

/* Base ---------------------------------------------------------------------------*/
* {
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

main {
  margin: 0;
  padding: 0;
}

/* remove links decorations ---------------------------------------------*/
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

a:visited {
  text-decoration: none;
}

/* tags -------------------------------------------------------------------------*/
.nav-photographer-categories li,
.photographer-card-tags li,
.banner-infos-tags li {
  border: 0.03125rem solid #c4c4c4;
  border-radius: 0.6875rem;
  padding: 0.05rem 0.3rem;
  margin: 0.1rem;

  font-weight: 500;
  font-size: 0.7em;
  line-height: 1em;
  text-align: center;
}

.nav-photographer-categories ul li a,
.photographer-card-tags li a,
.banner-infos-tags li a {
  color: var(--text-burgandy);
}
