/* Global rules */

/* All my display:flex componants */
header,
.nav-photographer-categories ul,
.flex-row-one,
.flex-row-two,
.photographer-card-tags {
  display: flex;
}

/* Particularities - top to bottom */
header {
  width: 60%;
  justify-content: space-between;
  margin: 4rem 5rem;
}

.logo-fisheye {
  width: 12.5rem;
  height: 3.125rem;
}

.nav-photographer-categories ul {
  padding-top: 3%;
}

main {
  margin: 3% 0;
}

h1 {
  position: absolute;
  right: 5rem;
  top: 3.5rem;

  color: #911c1c;

  font-size: 2em;
  line-height: 2em;

  color: var(--text-burgandy);
}

.photographers-cards {
  width: 80%;
  margin: 5rem auto;
}

.flex-row-one,
.flex-row-two {
  justify-content: space-between;
}

.flex-row-one {
  margin-bottom: 6rem;
}

.photographer-card {
  width: 15rem;
  height: 17rem;
}

.photographer-card-picture img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  height: 12.5rem;
  width: 12.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.photographer-card-name h2 {
  font-size: 2.25rem;
  line-height: 2.9375rem;
  text-align: center;

  color: var(--text-salmon);
}

.photographer-card-location {
  font-size: 0.8em;
  line-height: 1em;

  color: var(--text-burgandy);
}

.photographer-card-phrase {
  font-size: 0.6em;
  line-height: 1em;

  color: black;
}

.photographer-card-price {
  font-size: 0.5em;
  line-height: 1em;

  color: var(--text-grey);
}

.photographer-card-location,
.photographer-card-phrase,
.photographer-card-price,
.photographer-card-tags {
  padding: 0.2rem;
  text-align: center;
}

.photographer-card-tags {
  justify-content: center;
}
