/* Colors variables--------------------------------------------------------------------------*/
:root {
  --background-burgandy: #901c1c;
  --background-salmon: #db8876;
  --bacground-almostWhite: #fafafa;

  --text-burgandy: #901c1c;
  --text-salmon: #d3573c;
  --text-grey: #525252;
}
