@media all and (max-width: 930px) {

  /* index-page */
  header {
    margin: 1rem 1rem;
    flex-direction: column;
  }

  main {
    margin: 1rem 1rem;
    padding: 0;
  }

  main h1 {
    font-size: 1rem;

    right: 1.5rem;
    top: 0.5rem;
  }


  .logo-fisheye svg {
    width: 8rem;
  }

  .nav-photographer-categories ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-photographer-categories ul li {
    padding: .25rem 0rem;
  }

  .photographer-card {
    width: 100%;
    margin-bottom: 5rem;
  }

  /* photographer-page : Photograph banner */

  .photographer-page-banner {
    position: relative;
    width: 100%;
    margin: 0rem;
    padding: 0;
    background-color: var(--bacground-almostWhite);

    justify-content: space-between;
  }

  .banner-infos {
    flex-direction: column;
    margin: .3rem;
  }

  .banner-infos-photographerName {
    font-size: 1.8rem;
    line-height: .7;
    margin-bottom: .5rem;
  }

  .banner-infos-location {
    font-size: 1em;
    margin-bottom: .5rem;
  }

  .banner-infos-tagLine {
    font-size: 0.6em;
    margin-bottom: .5rem;
  }

  .banner-contactBtn {
    width: 50%;
    border-radius: 0.3rem;
    position: fixed;
    bottom: 1rem;

    /* to center the button */
    right: 50%;
    translate: 50%;
  }

  .banner-profilePicture img {
    height: 5rem;
    width: 5rem;

    position: absolute;
    top: .3rem;
    right: .3rem;
  }

  /* photographer-page : Gallery part*/

  .gallery-filterChoices {
    display: none;
  }

  .gallery-cards-row1,
  .gallery-cards-row2 {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .gallery-card {
    width: 100%;
    margin: 1rem 0rem;
  }

  .gallery-photo img,
  .gallery-photo video {
    height: 9rem;
    width: 100%;
  }

  .photographer-page-staticBox {
    display: none;
  }
}