/* Global rules */

/* All my display:flex componants */
.photographer-page-banner,
.photographer-page-banner article,
.banner-infos,
.banner-contactBtn-container button,
.banner-infos-tags,
.gallery-filterChoices,
.dropdown-menu button,
.gallery-cards,
.gallery-photo-caption,
.photo-caption-likes,
.photographer-page-staticBox,
.photographer-page-likes {
  display: flex;
}

/* Particularities - top to bottom */
header,
main {
  margin: 4rem 7rem;
}

.logo-fisheye {
  width: 12.5rem;
  height: 3.125rem;
}

/* Photograph banner */

.photographer-page-banner {
  margin-bottom: 4rem;
  padding: 3rem 3rem 3rem 3rem;
  background-color: var(--bacground-almostWhite);
  justify-content: space-between;
}

.banner-infos {
  flex-direction: column;
  margin-right: 1rem;
}

.banner-infos-photographerName {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 1rem;

  color: var(--text-salmon);
}

.banner-infos-location {
  font-size: 1.2em;
  line-height: 1em;
  margin-bottom: 1rem;

  color: var(--text-burgandy);
}

.banner-infos-tagLine {
  font-size: 0.8em;
  line-height: 1em;
  margin-bottom: 1rem;

  color: var(--text-grey);
}

.banner-infos-tags li a {
  cursor: default;
}

.banner-profilePicture img {
  -o-object-fit: cover;
  object-fit: cover;

  border-radius: 50%;
  box-shadow: 0.05rem 0.05rem 1rem grey;
  height: 10rem;
  width: 10rem;
}

/* Gallery */

/* dropdown menu */
.dropdown-menu,
.dropdown-menu button,
.dropdown-content {
  width: 7.5rem;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
  margin-left: 2rem;
  top: -1rem;
}

.dropdown-menu button {
  border-right: none;
  border-left: none;
  border-bottom: .5px white;
  background-color: var(--background-burgandy);
  color: #ffffff;
  font-weight: bold;
  padding: 1rem 0.5rem;

  position: relative;
  cursor: pointer;
}

.dropdown-menu-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 0.9rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* dropdown menu appearance*/
.dropdown-menu:hover .dropdown-content {
  display: block;
}

.dropdown-menu:focus-within .dropdown-content {
  display: block;
}

.dropdown-menu button:hover,
.dropdown-menu button:focus {
  background-color: var(--background-salmon);
  color: black;
}

#dropdown-menu-popularity {
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.dropdown-menu:hover #dropdown-menu-popularity {
  border-radius: 0.2rem 0.2rem 0rem 0rem;
}

#dropdown-menu-title {
  border-radius: 0rem 0rem 0.2rem 0.2rem;
}

/* #dropdown-menu-arrowUp {
  display: none;
} */

#dropdown-menu-arrowDown {
  display: block;
}

/* actual photo gallery */
.gallery-cards {
  margin-top: 1rem;
  flex-wrap: wrap;
  gap: 5px 50px;
}

.gallery-card {
  width: calc((100% / 3) - (100px / 3));
  height: 400px;
}

.gallery-card img,
.gallery-card video {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.2rem;
  display: inline-block;
  width: 100%;
  height: 80%;

  cursor: pointer;
}

.gallery-photo-caption {
  position: relative;

  justify-content: space-between;
  padding-top: 1rem;
}

.photo-caption-title {
  font-size: 1rem;
  line-height: 1rem;

  color: var(--text-burgandy);
}

.photo-caption-likes-number {
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: lighter;
}

/* default heart */
.photo-caption-likes-heartIcon {
  font-size: 1rem;
  color: var(--text-burgandy);
  padding-left: 0.5rem;

  justify-content: space-between;
  cursor: pointer;
}

.photo-caption-likes-heartIcon:hover {
  color: var(--text-salmon);
}

.liked {
  color: var(--text-salmon);
}

.liked:hover {
  color: var(--text-burgandy);
}

/* static box bottom right with total likes and price per day */

.photographer-page-staticBox {
  position: fixed;
  right: 1rem;
  bottom: 0rem;

  width: 17rem;
  padding: 1rem;
  font-weight: 500;

  border-radius: 0.3rem 0.3rem 0 0;
  background-color: var(--background-salmon);

  justify-content: space-between;
}

.photographer-page-likes-heartIcon {
  height: 1rem;
  color: black;
  padding-left: 0.5rem;

  justify-content: space-between;
}